<header class="main-header page__centerer main-header--no-js {{ permalink=='index.html' ? 'main-header--index' : '' }}">
  <a class="main-header__logo" href="index.html" {% if permalink=="index.html" %}aria-current="page" {% endif %}>
    <picture>
      <source media="(min-width: 1280px)" srcset="./img/logo.svg#desktop">
      <source media="(min-width: 768px)" srcset="./img/logo.svg#tablet">
      <img class="logo" src="./img/logo.svg#mobile" width="34" height="39" alt="cat energy">
    </picture>
  </a>

  <a href="#" class="main-header__title">
    <img class="main-header__logo-text" src="./img/logo.svg#text" alt="Cat Energy" width="101" height="19">
  </a>

  <nav class="main-nav">
    <button class="main-nav__toggle" type="button">
      <span class="main-nav__icon-burger"></span>
      <span class="visually-hidden">Открыть меню</span>
    </button>
    <ul class="main-nav__list">
      {% for page in pages %}
      <li class="main-nav__item {{ permalink==page.path ? 'main-nav__item--current' : '' }} {{ permalink=='index.html' ? 'main-nav__item--index' : '' }}">
        <a class="main-nav__link" href="{{ page.path }}" {% if permalink==page.path %} aria-current="page" {% endif %}>{{ page.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
